.game-item{
  text-decoration: none;
  color: white;
  width: 320px;
  height: 300px;
  background: rgb(36,37,41);
  border-radius: 15px;
  cursor: pointer;
  position: relative;
}
.game-item__title{
font-size: 18px;
font-weight: bold;
}

.game-item__details{
  padding: 10px 20px;
}

.game-item__genre{
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.game-item__buy{
  /* margin-top: 20px; */
  position: absolute;
  right: 10px;
  bottom: 10px;
}